# Mirror options
mirror="mirrors.eu.kernel.org"
mirrorpath="::mirrors/archlinux"

# Directories: they should end without /
## Optionals
paraboladir=
## Must be defined
tempdir=~/tmp
archdb=${tempdir}/db
docs_dir=${paraboladir}/docs
repodir=${paraboladir}/repo/staging
licenses_dir=${docs_dir}/pending_licenses
# End Directories

# Files
logname=${paraboladir}/log/$(date -u +%Y%m%d-%H:%M)-repo-maintainer.log
blacklist=${docs_dir}/blacklist.txt
whitelist=${docs_dir}/whitelist.txt
rsync_blacklist=${docs_dir}/rsyncBlacklist
rsync_not_needed=${tmp}/rsync_not_needed

# Repos, arches, and dirs for repo
repo_list="core:extra:community:testing:community-testing:multilib"
dir_list="pool"
arch_list="i686:x86_64"
other="any"

# Rsync commands
rsync_list_command="rsync\ -ptgoL\ --list-only\ "
rsync_update_command="rsync -ptgoL --exclude='*.abs.tar.*'"
