# Mirror options
mirror="mirrors.eu.kernel.org"
mirrorpath="mirrors/archlinux"

# Directories: they should end without /
paraboladir=~/parabolagnulinux.org
tempdir=~/tmp
archdb=${tempdir}/db
docs_dir=${paraboladir}/docs
repodir=${paraboladir}/repo
licenses_dir=${docs_dir}/pending_licenses
# End Directories

# Files
logname=${paraboladir}/log/$(date -u +%Y%m%d-%H:%M)-repo-maintainer.log
rsout_file=${tempdir}/rsout
rsync_not_needed=${tempdir}/rsync_not_needed

rsync_blacklist=${docs_dir}/rsyncBlacklist

blacklist=${docs_dir}/blacklist.txt
whitelist=${docs_dir}/whitelist.txt

# Rsync commands
rsync_list_command="rsync -rptgoL --exclude='*.abs.tar.*' --list-only --no-motd "
rsync_update_command="rsync -rptgoL --exclude='*.abs.tar.*' --no-motd "
