# Mirror options
mirror="mirrors.eu.kernel.org"
mirrorpath="::mirrors/archlinux"

# Directories
## Optionals
paraboladir=~/parabolagnulinux.org
logtime=$(date -u +%Y%m%d-%H:%M)
## Must be defined
logname=${paraboladir}/${logtime}-repo-maintainer.log
tempdir=~/tmp/
archdb=${tempdir}/db
docs_dir=${paraboladir}/docs
repodir=${paraboladir}/repo
# End Directories

# Files
blacklist=${docs_dir}/blacklist.txt
whitelist=${docs_dir}/whitelist.txt
pending=${docs_dir}/pending
rsync_blacklist=${docs_dir}/rsyncBlacklist

# Repos, arches, and dirs for repo
repo_list="core:extra:community:testing:community-testing:multilib"
dir_list="pool"
arch_list="i686:x86_64"
other="any"

# Output options
output="True"
debug="False"
